<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>

    <style>
        .mark-custom{
            background-color: aqua;
            color: brown;
            
        }
    </style>
</head>
<body>
    <p> Seja bem vindo/a ao meu site</p>

    <h1>Título principal</h1>
    <h2> Subtítulo </h2>
    <h3> Seção </h3>
    <h4> Subseção </h4>
    <h5> Tópico </h5>
    <h6> Subtópico </h6>

    <p> Este é um parágrafo</p> <br>

       Esse texto é um <strong> texto em ênfase</strong> <br>
       <b> Texto em negrito </b> <br>
       <i>Texto em itálico</i> <br>
       <u>Texto sublinhado</u><br>
        <s>Texto riscado</s><br>
        <mark class ="mark-custom"> Texto destacado</mark><br>
        <small> Texto pequeno</small>

 <!-- Lista não ordenada-->
     <ul>
       <li> Item 1</li>
       <li> Item 2</li>
       <li> Item 3</li>

     </ul> 
     
     
      <!-- Lista  ordenada-->
    <ol>
       <li> Primeiro item </li>
       <li> Segund item </li>
       <li> Terceiro item</li>
     </ol>   
     
     <!--Lista de definição -->

     <dl>
        <dt>HTML</dt>
        <dd>Lingugem de marcação</dd>


        <dt>CSS</dt>
        <dd>Lingugem de estilos para páginas web</dd>
     </dl>

     <!-- Links  -->

     <a href="https://oceanbrasil.com/" target="_blank"> Site oceanbrasil</a> <br>

     <!-- Imagens -->

     <img src="../img/minato.jpg">
    


</body>
</html>